@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap");

.App {
  text-align: center;
  text-align: center;
  height: 100vh;
  width: 100vw;
  font-family: "Titillium Web", sans-serif;
  color: black;
  overflow: scroll;
}

main {
  display: grid;
  grid-template-columns: repeat(4, calc(25% - 10px));
  grid-template-rows: auto;
  grid-column-gap: 10px;
  grid-row-gap: 15px;
  place-content: center;
  grid-auto-flow: row;
  padding: 20px;
}

@media only screen and (min-width: 968px) and (max-width: 1169px) {
  main {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 500px) and (max-width: 967px) {
  main {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 280px) and (max-width: 499px) and (orientation: portrait) {
  main {
    grid-template-columns: 1fr;
  }
}

li {
  list-style-type: none;
}

.about {
  position: relative;
  height: 100vh;
  width: 50%;
  padding-top: 50px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
