@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap");

.App {
  text-align: center;
  text-align: center;
  height: 100vh;
  width: 100vw;
  font-family: "Titillium Web", sans-serif;
}

header {
  position: sticky;
  top: 0;
  z-index: 20;
  text-align: center;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.082);
}

main {
  overflow: scroll;
  display: grid;
  grid-template-columns: repeat(4, calc(25% - 10px));
  grid-template-rows: auto;
  grid-column-gap: 10px;
  grid-row-gap: 15px;
  place-content: center;
  grid-auto-flow: row;
  padding: 20px;
}

li {
  list-style-type: none;
}
