@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap");

.App {
  text-align: center;
  text-align: center;
  height: 100vh;
  width: 100vw;
  font-family: "Titillium Web", sans-serif;
  color: black;
}

main {
  overflow: scroll;
  display: grid;
  grid-template-columns: repeat(4, calc(25% - 10px));
  grid-template-rows: auto;
  grid-column-gap: 10px;
  grid-row-gap: 15px;
  place-content: center;
  grid-auto-flow: row;
  padding: 20px;
}

li {
  list-style-type: none;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  z-index: 10;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.about {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
