figure {
  color: black;
  width: 300px;
  height: 500px;
  margin: 5px;
  background-color: white;
  grid-column: span 1;
  grid-row: span 1;
  box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, 0.082);
  overflow: scroll;
  border-radius: 15px;
}

@media only screen and (min-width: 968px) and (max-width: 1169px) {
  figure {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 500px) and (max-width: 967px) {
  figure {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 300px) and (max-width: 499px) and (orientation: portrait) {
  figure {
    grid-template-columns: 1fr;
  }
}

figcaption {
  font-size: 18px;
  font-weight: bold;
  padding-top: 10px;
}

figure img {
  width: 250px;
  height: 250px;
  margin: 5px;
}

.date {
  display: inline-block;
  text-align: justify;
}

.likeButton {
  text-align: justify;
  display: inline-block;
  margin-left: 155px;
  margin-right: 20px;
}

figure p {
  margin: 5px;
  padding: 0 10px 0 10px;
  text-align: justify;
}

p {
  font-size: 14px;
}

a:link {
  text-decoration: none;
}
