header {
  position: fixed;
  background-color: white;
  width: 100%;
  top: 0;
  z-index: 200;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding-bottom: 2px;
}

header h1,
h3 {
  margin: 0;
  padding: 5px 0 0 0;
}
header h3 {
  padding-bottom: 10px;
}
