nav ul {
  padding-left: 0;
}

.navbar {
  justify-content: center !important;
}
.nav-item {
  display: inline;
  padding: 10px;
}

.nav-link {
  color: black !important;
}

.nav-link:hover {
  font-weight: bold;
}

a.nav-link:active {
  font-weight: bold;
}
